pkgbase = linux
	pkgver = 4.7.r243513.gac296bd
	pkgrel = 1
	url = http://www.kernel.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = libelf
	options = !strip
	backup = etc/mkinitcpio.d/linux-git.preset
	source = git+http://evilpiepirate.org/git/linux-bcache.git#branch=bcache-encryption
	source = config.x86_64
	source = linux.preset
	sha256sums = SKIP
	sha256sums = 1db804bd8ded83e8cbf399e40c251ff3d19a48c423f6f531ff03e988df67ca35
	sha256sums = 75d7d4b94156b3ba705a72ebbb91e84c8d519acf1faec852a74ade2accc7b0ea

pkgname = linux
	pkgdesc = The Linux kernel and modules (with bcachefs support)
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	provides = linux
	backup = etc/mkinitcpio.d/linux.preset

pkgname = linux-headers
	pkgdesc = Header files and scripts for building modules for Linux kernel (with bcachefs support)
	provides = linux-headers

pkgname = linux-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux kernel (with bcachefs support)
	provides = linux-docs

