pkgbase = linux-bcachefs
	pkgver = 4.8.r258261.g6bdfadd4c37f
	pkgrel = 1
	url = https://evilpiepirate.org/git/linux-bcache.git/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = libelf
	options = !strip
	backup = etc/mkinitcpio.d/linux-bcachefs.preset
	source = git+http://evilpiepirate.org/git/linux-bcache.git#branch=bcache-dev
	source = config.x86_64
	source = linux-bcachefs.preset
	sha256sums = SKIP
	sha256sums = 5da24b534ba44a0f6bbc807af41dfd4af2a23e6c599d6c19a583da5f8e878448
	sha256sums = 63e059a46746b4b580c737c242c840029cb13218eb14038a7599116634d3c85c

pkgname = linux-bcachefs
	pkgdesc = The Linux kernel and modules (with bcachefs support)
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	provides = linux
	backup = etc/mkinitcpio.d/linux-bcachefs.preset

pkgname = linux-bcachefs-headers
	pkgdesc = Header files and scripts for building modules for Linux kernel (with bcachefs support)
	provides = linux-headers

pkgname = linux-bcachefs-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux kernel (with bcachefs support)
	provides = linux-docs

